.page-container {
}

.page-table-container {
}

.page-header-text {
}

.page-filter-container {
  padding: 8px;
}

.mat-header-row {
  background-color: #224681;
  color: white !important;
  font-weight: 500;
}

.mat-header-cell  {
  color: white !important;
}
.toolbar-spacer {
  flex: 1 1 auto;
}


.page-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 300px;
}